{
  "Amazon" : {
    "associate_tag": "",
    "AWS_access_key_id": "",
    "AWS_secret_key": ""
  },
  "Twitter" : {
    "consumer_key" : "",
    "consumer_secret" : "",
    "access_token" : "",
    "access_token_secret" : ""
  },
  "Kafka" : {
    "group_id" : "test-consumer-group",
    "hostname" : "localhost",
    "port" : "9092"
  },
  "HTTP_Server" : {
    "document_path" : ""
  },
  "log_path" : "./log"
}